* {
    font-family: 'Roboto', sans-serif;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Limelight', cursive;
}

header {
    text-align: center;
    color: #FFF;
    background-image: linear-gradient(to left, #000096, #2691fc);
    padding: 15px 0;
}

main {
    padding: 10px;
    margin: auto;
}

form {
    padding-bottom: 8px;
    border-bottom: 2px solid #000;
}

.btn {
    margin-top: 8px;
}

input {
    width: 100%;
}

#city {
    font-size: x-large;
    font-weight: bold;
}

.five-day {
    margin-top: 10px;
}